/* CUSTOM PROPERTIES */

:root{
    --neutralgray-50:#F9FAFB;
    --neutralgray-100:#F4F5F7;
    --neutralgray-200:#E4E6EA;
    --neutralgray-300:#D2D6DC;
    --neutralgray-400:#9FA6B2;
    --neutralgray-500: #6B7280;
    --neutralgray-600: #4B5563;
    --neutralgray-700: #374151;
    --neutralgray-800: #252F3F;
    --neutralgray-900: #161E2E;
    --mainyellow-1: #F3FF4A;
    --mainyellow-2: #E8C841;
    --mainyellow-3: #FFBB54;
    --mainorange-4: #E87441;
    --mainorange-5: #FF4847;
    --mainbrown-6: #7A624E;
    --maingreen-7: #3AA781;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold:700;
    --fw-black:900;
}

/* RESETS */

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* GLOBAL STYLES */

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--neutralgray-200);
    color: var(--neutralgray-700);
}

a{
    text-decoration: none;
    color:inherit;
}


ul{
    list-style: none;
}

/* REUSABLE STYLES  */

.container{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

/* HEADER STYLES */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 5%;
    background-color: var(--neutralgray-200);
}

.topbar{
    height: 5px;
    background-color: var(--mainyellow-1)
}

.logo {
    height: 60px;
    width: 60px;
    margin-top: 1rem;
}

.logo:hover{
    cursor: pointer;
}

.hamburger-menu{
    font-size: 2rem;
    color: var(--neutralgray-900);
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.hamburger-menu .fa-times{
    display: none;
    color: var(--neutralgray-200);
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed; 
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--neutralgray-700);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s;
}

.menu-open .nav-list{
    opacity: 1;
    transform: scale(1) 
}

.nav-link{
    display: block;
    color: var(--neutralgray-200);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-link:hover{
    opacity: 40%;
}

.kontakt-btn {
    border: 2px solid var(--neutralgray-200);
    box-sizing: border-box;
    border-radius: 28px;
    padding: 0.5rem 2rem;
    margin-top: 5rem;
}


/* 3. HERO STYLES */

.main-heading{
    display: flex;
    flex-direction: column;
    background-color: var(--neutralgray-200);
}


.headline{
    font-size: 3em;
    font-weight:var(--fw-black);
    margin-top: 1.5rem;
    text-align: center;
    line-height: 0.9;
    padding:0 5%;

}

.subheadline{
    font-size: 1.25em;
    font-weight: var(--fw-normal);
    text-align: center;
}
 

.heroimage__container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.heroimage{
    max-width: 550px;
    width: 100%;
    height: auto;
    margin: auto;
}

.heroimage__rectangle{
    position: absolute;
    height: 30%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(271.08deg, #E4E6EA -14.83%, #374151 68.23%);
    z-index: -1;
}

/* SERVICE SECTION */

.rectangle2{
    width: 100%;
    height: 150px;
    background-color: var(--neutralgray-200);
    z-index: 3;
    font-size: 2rem;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}



.service-cards{
    display: flex;
    flex-direction: column;
}

.service-card1{
    
}




/* 4. MEDIA QUERIES */

/* @media screen and (min-width:768px){
        
    
    
    .kontakt-btn {
        border: 2px solid var(--neutralgray-200);
        box-sizing: border-box;
        border-radius: 28px;
        padding: 10px 20px;
    }

    .kontakt-btn:hover {
        background: #F3FF4A;
    }

    .hamburger-menu {
        display: none;
    }

    
} */