/* CUSTOM PROPERTIES */

:root{
    --neutralgray-50:#F9FAFB;
    --neutralgray-100:#F4F5F7;
    --neutralgray-200:#E4E6EA;
    --neutralgray-300:#D2D6DC;
    --neutralgray-400:#9FA6B2;
    --neutralgray-500: #6B7280;
    --neutralgray-600: #4B5563;
    --neutralgray-700: #374151;
    --neutralgray-800: #252F3F;
    --neutralgray-900: #161E2E;
    --mainyellow-1: #F3FF4A;
    --mainyellow-2: #E8C841;
    --mainyellow-3: #FFBB54;
    --mainorange-4: #E87441;
    --mainorange-5: #FF4847;
    --mainbrown-6: #7A624E;
    --maingreen-7: #3AA781;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold:700;
    --fw-black:900;
}

/* RESETS */

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* GLOBAL STYLES */

html{
    font-size: 16px;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--neutralgray-200);
}

a{
    text-decoration: none;
    color:inherit
}


ul{
    list-style: none;
}

/* REUSABLE STYLES  */

.container{
    width: 100%;
    max-width: 75rem;
    padding: 0 5%;
    margin: 0 auto;
}

/* HEADER STYLES */

.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.topbar{
    height: 5px;
    margin-bottom: 0.5em;
    background-color: var(--mainyellow-1)
}

.logo {
    height: 80px;
    width: 80px;
}

.hamburger-menu{
    font-size: 2rem;
    color: var(--neutralgray-900);
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.hamburger-menu .fa-times{
    display: none;
    color: var(--neutralgray-200);
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed; 
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--neutralgray-700);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s;
}

.menu-open .nav-list{
    opacity: 1;
    transform: scale(1) 
}

.nav-link{
    display: block;
    color: var(--neutralgray-200);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-link:hover{
    opacity: 40%;
}

/* 3. HERO STYLES */

.headline{
    font-size: 3em;
    font-weight:var(--fw-black);
    color: var(--neutralgray-700);
    margin-top: 2rem;
    text-transform: var(--fw-bold);
    text-align: center;
}

.subheadline{
    font-size: 1.5em;
    font-weight: var(--fw-medium);
    color: var(--neutralgray-700);
    text-align: center;
}

/* 4. MEDIA QUERIES */

/* @media screen and (min-width:768px){
        
    
    
    .kontakt-btn {
        border: 2px solid var(--neutralgray-900);
        box-sizing: border-box;
        border-radius: 28px;
        padding: 10px 20px;
    }

    .kontakt-btn:hover {
        background: #F3FF4A;
    }

    .hamburger-menu {
        display: none;
    }

    
} */