*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto slab', sans-serif;
    --neutralgray-200:#E4E6EA;
    --neutralgray-900: #161E2E;

}

.nav-container{
    background-color: var(--neutralgray-200);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    width: 90%;
    margin: auto;
}

img{
    max-width: 100%;
}

.logo{    
    height: 100px;
    width: 100px;
    
}

.nav-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
    list-style: none;
}

.nav-links a{
    color: #161E2E;
    text-decoration: none;
    font-weight: bold;
}

.kontakt-btn{
    border: 3px solid var(--neutralgray-900);
    box-sizing: border-box;
    border-radius: 28px;
    padding: 10px 20px 10px 20px;
}

.kontakt-btn:hover{
    background: #F3FF4A;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 50px;
    height: 6px;
    background-color: var(--neutralgray-900);
    margin: 5px;
    border-radius: 3px;
}


@media screen and (max-width:768px){
    
    body{
        overflow-x: hidden;
    }
    
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--neutralgray-200);
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;

    }

    
    .nav-links{
        opacity: 0;
    }
    
    

    .burger{
        display: block;
    }

    .nav-active{
        transform: translateX(0%);
    }
    
}