/* CUSTOM PROPERTIES */

:root{
    --neutralgray-50:#F9FAFB;
    --neutralgray-100:#F4F5F7;
    --neutralgray-200:#E4E6EA;
    --neutralgray-300:#D2D6DC;
    --neutralgray-400:#9FA6B2;
    --neutralgray-500: #6B7280;
    --neutralgray-600: #4B5563;
    --neutralgray-700: #374151;
    --neutralgray-800: #252F3F;
    --neutralgray-900: #161E2E;
    --mainyellow-1: #F3FF4A;
    --mainyellow-2: #E8C841;
    --mainyoranege3: #FFBB54;
    --mainorange-4: #E87441;
    --mainorred-5: #FF4847;
    --mainbrown-6: #7A624E;
    --maingreen-7: #3AA781;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold:700;
    --fw-black:900;
    --text-small: 0.875rem;
    --text-base: 1rem;
    --text-large: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2rem;
    --text-4xl:3rem;
}

/* RESETS */

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* GLOBAL STYLES */

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto Slab', sans-serif;
    background-color: var(--neutralgray-200);
    color: var(--neutralgray-700);
}

section{
    padding: 1rem 1rem;
}

ul{
    list-style: none;
}

h1{
    font-size: var(--text-4xl);
    font-weight: var(--fw-black);
}

h2{
    font-size: var(--text-3xl);
    font-weight: var(--fw-bold);
    text-align: center;
}

p{
    font-weight: var(--fw-normal);
    margin:1rem 0;
}

a{
    text-decoration: none;
    color:inherit;
}

/* REUSABLE STYLES  */

.container{
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
}

.underline-text{
    text-decoration: underline;
    text-decoration-color: var(--mainyellow-1);
    text-decoration-thickness: 0.5rem;
}

.underline-title {
    text-decoration: underline;
    text-decoration-color: var(--mainyellow-1);
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 0.5rem;
}

/* HEADER STYLES */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 1rem;
    background-color: var(--neutralgray-200);
    margin-top: 0.5rem;
}

.topbar{
    height: 5px;
    background-color: var(--mainyellow-1)
}

.logo {
    height: 60px;
    width: 60px;
}

.logo:hover{
    cursor: pointer;
}

.hamburger-menu{
    font-size: 2rem;
    color: var(--neutralgray-900);
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.hamburger-menu .fa-times{
    display: none;
    color: var(--neutralgray-200);
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed; 
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--neutralgray-700);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s;
}


.menu-open .nav-list{  
    opacity: 1;
    transform: scale(1) 
}

.nav-link{
    display: block;
    color: var(--neutralgray-200);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-link:hover{
    opacity: 40%;
}

.kontakt-btn {
    border: 2px solid var(--neutralgray-200);
    box-sizing: border-box;
    border-radius: 28px;
    padding: 0.5rem 2rem;
    margin-top: 5rem;
}


/* 3. HEADING */

.main-heading{
    background-color: var(--neutralgray-200);
    padding: 0 1rem;
    margin-top: 1.5rem;
}


.headline{
    text-align: center;
    line-height: 0.85;
}

.subheadline{
    font-size: 1.25em;
    font-weight: var(--fw-normal);
    text-align: center;
}
 

/* HERO SECTION */

.heroimage__container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
}

.heroimage{
    max-width: 550px;
    width: 100%;
    height:auto;
    margin: auto;
    z-index: 2;
}

.heroimage__rectangle{
    position: absolute;
    height: 30%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(271.08deg, #E4E6EA -14.83%, #374151 68.23%);
    z-index: 1;
}


/* ABOUT US SECTION */

.about-us{
    background-color: var(--neutralgray-200);
}


.about-us__image{
    max-width: 550px;
    width: 100%;
    height:auto;
    margin: auto;
    border: 3px solid #FFBB54
}

.about-us__description{
    font-weight: var(--fw-normal);
    text-align: left;
    color: var(--neutralgray-600);
   
}

/* WHY US SECTION */

.why-us{
    background-color: var(--neutralgray-700);
}

.why-us__title{
    color: var(--neutralgray-100);
}

.why-us__description{
    color: var(--neutralgray-200);
}

/* SERVICES SECTION */

.services{
    width: 100%;
    background-color: var(--neutralgray-200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service__cards{
    display: flex;
    flex-direction: column;
}

.service-card1{
    
}




/* 4. MEDIA QUERIES */

/* @media screen and (min-width:768px){
        
    
    
    .kontakt-btn {
        border: 2px solid var(--neutralgray-200);
        box-sizing: border-box;
        border-radius: 28px;
        padding: 10px 20px;
    }

    .kontakt-btn:hover {
        background: #F3FF4A;
    }

    .hamburger-menu {
        display: none;
    }

    
} */