/*****
CUSTOM PROPERTIES
*****/

:root{
    --neutralgray-50:#F9FAFB;
    --neutralgray-100:#F4F5F7;
    --neutralgray-200:#E4E6EA;
    --neutralgray-300:#D2D6DC;
    --neutralgray-400:#9FA6B2;
    --neutralgray-500: #6B7280;
    --neutralgray-600: #4B5563;
    --neutralgray-700: #374151;
    --neutralgray-800: #252F3F;
    --neutralgray-900: #161E2E;
    --mainyellow-1: #F3FF4A;
    --mainyellow-2: #E8C841;
    --mainyoranege-3: #FFBB54;
    --mainorange-4: #E87441;
    --mainorred-5: #FF4847;
    --mainbrown-6: #7A624E;
    --maingreen-7: #3AA781;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold:700;
    --fw-black:900;
    --text-small: 0.875rem;
    --text-base: 1rem;
    --text-large: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2.25rem;
    --text-4xl:3.5rem;
}

/*****
RESETS
*****/

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:inherit;
}

/*****
GLOBAL STYLES
****/



body{
    font-size: var(--text-large);
    font-family: 'Kanit', sans-serif;
    background-color:var(--neutralgray-50);
}



h1{
    font-family: 'Kanit', sans-serif;
    font-size: var(--text-4xl);
    font-weight: var(--fw-black);
}

h2{
    font-family: 'Kanit', sans-serif;
    font-size: var(--text-3xl);
    font-weight: var(--fw-bold);
    text-align: center;
    padding: 2rem 0 2rem 0;
}

p{
    font-weight: var(--fw-normal);
}

img{
    display: block;

}

/* section{
   width: 90%;
   margin:auto;
} */


/*****
REUSABLE STYLES
*****/

.site-wrapper{
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    
}

.underline-title {
    text-decoration: underline;
    text-decoration-color: var(--mainyellow-1);
    text-decoration-thickness: 0.5rem;
    text-underline-offset: 0.75rem;
}

.split{
    display:flex;
    flex-direction: column;
}

.section--primary{
    background-color: var(--neutralgray-200);
    color: var(--neutralgray-700);
}


.section--secondary{
    background-color: var(--neutralgray-700);
    color: var(--neutralgray-200);
}

/*****
HERO SECTION
*****/

.hero{
    position: relative;
    color: var(--neutralgray-700);
    background-image: url(../images/hero-blurred.webp);
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 1rem;
    width: 90%;
}

.logo{
    height: 50px;
    width: 50px;
}

.logo:hover{
    cursor: pointer;
}

.hamburger-menu{
    font-size: 2rem;
    color: var(--neutralgray-900);
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.hamburger-menu .fa-times{
    display: none;
    color: var(--neutralgray-200);
}

.menu-open .hamburger-menu .fa-times{
    display: block;
}

.menu-open .hamburger-menu .fa-bars{
    display: none;
}

.nav-list{
    position: fixed; 
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--neutralgray-700);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s;
}


.menu-open .nav-list{  
    opacity: 1;
    transform: scale(1) 
}

.nav-link{
    display: block;
    color: var(--neutralgray-200);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-link:hover{
    opacity: 40%;
}

.kontakt-btn {
    border: 3px solid var(--neutralgray-200);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.5rem 2rem;
    margin-top: 5rem;
}



/* .hero__brushstroke{
    width:90%;
    margin: auto;
    max-width: 300px; */
}
/*  
.headline__container{
    width: 90%;
    margin: auto;
    max-width: 300px;
    background-image: url('/images/brush-stroke2.webp');
  
} */


.hero__headline{
    line-height: 0.85;
    padding: 2rem 0 0.5rem 0;
    margin: auto;
    text-align: center;


    
}

.hero__subheadline{
    font-size: var(--text-xl);
    font-weight: var(--fw-normal);
    margin: auto;
    text-align: center;
}


.hero__image{
    position: relative;
    bottom:0;
    max-width: 550px;
    width: 100%;
    margin: auto;
}


/*****
ABOUT US SECTION
*****/


.about-us__icons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:auto;
    width: 90%;
    max-width: 30rem;
}


.about-us__description{
    color: var(--neutralgray-700);
    text-align: center;
    max-width: 30rem;
    padding:2rem 0 0;
    width: 90%;
    margin:auto

}

.about-us__image{
    display: block;
    position: relative;
    width: 100%;
    max-width: 40rem;
    margin: auto;

}


/*****
BENEFITS
*****/

.benefits__item{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    max-width: 30rem;

   
}

.benefits__icon{
    color: var(--mainorange-4);
    height: 2rem;
    width: 2rem;
}

.benefits__title{
    color: var(--neutralgray-100);
    font-family: 'Kanit', sans-serif;
    font-size: var(--text-xl);
    font-weight: var(--fw-bold);
    margin: 1rem 0;
}

.benefits__description{
    color: var(--neutralgray-200);
}

.benefits__image{
    margin-top:2rem;
    width: 100%;
}

/*****
SERVICES SECTION 
*****/

.services{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23374151' fill-opacity='0.04' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    
}

.card{
    width: 90%;
    max-width: 30rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    margin:1rem ;
    color: var(--neutralgray-700);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color:var(--neutralgray-900);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    pointer-events: none;
}

.card:hover{
    background-blend-mode:normal;

}

.card__icon{
    margin: 1rem 1rem 0;
}
   
.card__title{
    margin: 0 1rem;
    color: var(--neutralgray-100);
    font-family: 'Kanit', sans-serif;
    font-size: var(--text-2xl);
    font-weight: var(--fw-medium);
    text-align: left;
    position: relative;
}

.card__description{
    font-weight: var(--fw-normal);
    color: var(--neutralgray-100);
    margin: 3rem 1rem;
    text-align: center;
    position: relative;
}

.card__button{
    width: 9rem;
    border: none;
    outline: none;
    background-color: var(--neutralgray-200);
    color: var(--neutralgray-700);
    font-size: var(--text-small);
    font-weight: var(--fw-bold);
    padding: 0.5rem 1rem;
    margin: 0rem 1rem 2rem;
    border-radius: 30px;
    border: 3px solid var(--neutralgray-200);
    pointer-events: auto;

}

.card__button:hover{
    cursor: pointer;
}

/* 5 services cards */

.card--udrzba{
    background-image: url('/images/udrzba-zelene.webp');
}

.card--vyskove{
    background-image: url('/images/vyskove-prace.webp');
}

.card--odpad{
    background-image:url('/images/odvoz-odpadu.webp')
}

.card--vykopove{
    background-image: url('/images/vykopove-prace.webp');
}

.card--preprava{
    background-image: url('/images/preprava.webp');
}

/*  */

.services__image{
    width: 100%;
    margin-top: 2rem;
}

/*****
REVIEWS
****/

.reviews{
    width: 100%;
}


.carousel{
    position: relative;
    width: 80%;
    max-width: 30rem;
    margin: auto;
}


.carousel__slide{
    display: none;

}

/* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: -2.25rem;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    position: absolute;
    left: -2.25rem;
    border-radius: 3px 0 0 3px;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot__container {
    text-align: center;
    padding: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--neutralgray-100);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: var(--neutralgray-500);
  }
  


/* REVIEWS CARD */

.review__card{
    width: auto;
    background-color: var(--neutralgray-200);
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-image: url(../images/quotation-mark.svg);
    background-size: 7rem 7rem;
    background-repeat:no-repeat;
    background-position: right bottom;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}


.review--row{
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 0;


}

.review--column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.review__name{
    font-weight: bolder;
    padding-left: 0.5rem;
    color: var(--neutralgray-900);
}


.review__rating{
    height: 1rem;
    width: auto;
    padding-left: 0.5rem;
}

.review__description{
    font-family: "Roboto Slab";
    font-size: var(--text-base);
    display: flex;
    justify-content: center;
    align-items:center ;
    min-height: 15rem;
    padding: 1rem 1rem 2rem;
    color: var(--neutralgray-600);    
}


/*****
 REFERENCES
******/

.logos{
    padding-bottom: 2rem;
}

.company__logo {
    width: 7rem;
    height: auto;
    height: auto;
    margin: 2rem 2rem ;
    align-self: center;
}

/*****
FOOTER
*****/

.footer{
    background-color: var(--neutralgray-900);
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.phone-number{
    color: var(--mainyellow-1);
    font-size: xx-large;
}


/*****
4. MEDIA QUERIES
*****/


@media (min-width: 55rem){

    .split{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-evenly;

    }

    .split--hero{
        width: 90%;
        margin: auto;
        justify-content:space-between;

    }

    .split--benefits{
        column-count: 2;
        justify-content:space-between;

    }


  
}

/* @media screen and (min-width:768px){
        
    
    
    .kontakt-btn {
        border: 2px solid var(--neutralgray-200);
        box-sizing: border-box;
        border-radius: 28px;
        padding: 10px 20px;
    }

    .kontakt-btn:hover {
        background: #F3FF4A;
    }

    .hamburger-menu {
        display: none;
    }

    
} */
